<div class="header">
    <div class="firstHeader">
    <img src="../../../assets/Letter.png">
    <h1>Avengers!</h1>
    </div>


 <nav class="navHeader">
    <div class="navDiv">
    <img src="../../../assets/Vector.png">
    <a routerLink="/home" >Home</a>
</div>
<div class="navDiv">
    <img src="../../../assets/Vector (2).png">
    <a routerLink="/" >Prods.</a>
</div>
<div class="navDiv">
    <img src="../../../assets/Vector (1).png">
    <a routerLink="/newProduct" >Management</a>
</div>
 </nav>
</div>