<div>
    <h2>Bienvenido a The avengers Shop</h2>
    <h5>¿Qúe és The avengers Shop?</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Minus inventore enim atque nemo alias fuga eum voluptatibus necessitatibus ipsum! 
        Cum voluptatem, perferendis minus quo nostrum officiis in vero nemo beatae.</p>
        <h5>¿Para qué puedo usar The avengers Shop?</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Minus inventore enim atque nemo alias fuga eum voluptatibus necessitatibus ipsum! 
        Cum voluptatem, perferendis minus quo nostrum officiis in vero nemo beatae.</p>
        <h5>¿Quienes hacemos en The avengers Shop?</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Minus inventore enim atque nemo alias fuga eum voluptatibus necessitatibus ipsum! 
        Cum voluptatem, perferendis minus quo nostrum officiis in vero nemo beatae.</p>
        <h5>¿Es seguro usar The avengers Shop?</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Minus inventore enim atque nemo alias fuga eum voluptatibus necessitatibus ipsum! 
        Cum voluptatem, perferendis minus quo nostrum officiis in vero nemo beatae.</p>
    

</div>
